<section class="card">
  <a href="/gallery/{{id}}">
    <header>{{name}}
      <button type="button" class="btn btn-primary">+</button>
    </header>
      <label class="list-group-item">
    <input class="form-check-input me-1" type="checkbox" value="" />
    Cras justo odio
  </label>
    <input>
    
    <!--img src="/images/{{paintings.[0].filename}}" alt="{{paintings.[0].description}}"-->
  </a>
</section>

<div class="list-group">
  <label class="list-group-item">
    <input class="form-check-input me-1" type="checkbox" value="" />
    Cras justo odio
  </label>
  <label class="list-group-item">
    <input class="form-check-input me-1" type="checkbox" value="" />
    Dapibus ac facilisis in
  </label>
  <label class="list-group-item">
    <input class="form-check-input me-1" type="checkbox" value="" />
    Morbi leo risus
  </label>
  <label class="list-group-item">
    <input class="form-check-input me-1" type="checkbox" value="" />
    Porta ac consectetur ac
  </label>
  <label class="list-group-item">
    <input class="form-check-input me-1" type="checkbox" value="" />
    Vestibulum at eros
  </label>
</div>